// If you want to override variables do it here
@import "../src/scss/variables";

// Import styles
@import "../node_modules/@coreui/icons/css/all.css";

// If you want to add something do it here
@import "../src/scss/custom";

table.dataTable {
    border-top: 1px solid #c8ced3;
}

/* Ensure table rows and cells have proper borders */
table.dataTable th,
table.dataTable td {
    border: 1px solid #c8ced3;
}
.hide{
    display: none !important;
}

body {
    margin: 0;
    font-family: -apple-system,BlinkMacSystemFont,"Segoe UI",Roboto,"Helvetica Neue",Arial,"Noto Sans",sans-serif,"Apple Color Emoji","Segoe UI Emoji","Segoe UI Symbol","Noto Color Emoji";
    font-size: .875rem;
    font-weight: 400;
    line-height: 1.5;
    color: #23282c;
    text-align: left;
    background-color: #e4e5e6;
    -moz-osx-font-smoothing: grayscale;
    -webkit-font-smoothing: antialiased
}

.border_right{
    border-right-color: black;
    border-right-style: solid;
    border-right-width: 1px;
}

.footer_text{
  margin-top: auto;
  margin-bottom: auto;
  text-align: center;
  align-self: center;
  width: 100%;
  font-size: 11px;
}

.select2-container{
  width: 100% !important;
}
a:not([href]):not([tabindex]),a:not([href]):not([tabindex]):focus,a:not([href]):not([tabindex]):hover {
    color: inherit;
    text-decoration: none
}

.tabset .nav-link {
    color: #8a1538 !important; 
  }
  .cil-speech:before {
    content: "\ebd3";
  }
  .cil-action-redo:before {
  content: "\ea04";
}
  
  .cui-speech:before {
    content: "\e94f"
}

  .ng-dropdown-panel .ng-dropdown-panel-items .ng-option.ng-option-selected, .ng-dropdown-panel .ng-dropdown-panel-items .ng-option.ng-option-selected.ng-option-marked

 {
    background-color: #5897fb !important;
    color: #fff !important;
}